packaging>=22.0
pyivia
pyyaml
requests
kubernetes
docker-compose
pyivia
wheel
setuptools
twine
sphinx<9
sphinx-rtd-theme
sphinx_toolbox
typing
build
json-schema-for-humans
check-jsonschema
python-json-logger