IDPKEYSP12_SECRET=Passw0rd
SPKEYSP12_SECRET=Passw0rd
IDP_HVDB_HOST=postgresql-idp
SP_HVDB_HOST=postgresql-sp
HVDB_PORT=5432
HVDB_USER=postgres
HVDB_PW=Passw0rd
HVDB_DB=isva
IDP_LDAP_HOST=openldap-idp
SP_LDAP_HOST=openldap-sp
LDAP_PORT=636
IVIA_BASE_CODE=example_code
IVIA_AAC_CODE=example_code
IVIA_FED_CODE=example_code
LDAP_BIND_DN=cn=root,secAuthority=Default
LDAP_BIND_PW=Passw0rd
LDAP_SEC_PW=Passw0rd
FED_ANON_PASSWORD=Passw0rd
TEST_PASSWORD=Passw0rd
RUNTIME_USER=easuser
RUNTIME_PASSWORD=passw0rd
IVIA_CONFIG_BASE=/verify_access_config
IVIA_MGMT_PASSWORD=admin
IVIA_CONFIGURATOR_LOG_LEVEL=ALL
IVIA_KUBERNETES_RESTART_SLEEP=60
IDP_LIVE_DEMO_CONFIG="lmiHostAndPort=https://isva-idp-config:9443,lmiAdminId=admin,lmiAdminPwd=admin,acHostAndPort=https://isva-idp-runtime:9443,websealHostNameAndPort=https://www.myidp.ibm.com,acUuidCookieName=ac.uuid"
SP_LIVE_DEMO_CONFIG="lmiHostAndPort=https://isva-sp-config:9443,lmiAdminId=admin,lmiAdminPwd=admin,acHostAndPort=https://isva-sp-runtime:9443,websealHostNameAndPort=https://www.mysp.ibm.com,acUuidCookieName=ac.uuid"
WEBSEAL_OIDC_CLIENT_SECRET=websealclientSecret
