ISVA_MGMT_PWD=Passw0rd
ISVA_MGMT_OLD_PWD=admin
CFGSVC_PWD=Password
MMFAP12_SECRET=Passw0rd
HVDB_HOST=ivia-mmfa-postgresql
HVDB_PORT=5432
HVDB_USER=postgres
HVDB_PW=Passw0rd
HVDB_DB=isam
LDAP_HOST=ivia-mmfa-openldap
LDAP_PORT=636
LDAP_BIND_DN=cn=root,secAuthority=Default
LDAP_BIND_PW=Passw0rd
LDAP_SEC_PW=Passw0rd
TEST_PASSWORD=Passw0rd
RUNTIME_USER=easuser
RUNTIME_PASSWORD=Passw0rd
LIVE_DEMO_CONFIG=lmiHostAndPort=ivia-mmfa-config:9443,lmiAdminId=admin,lmiAdminPwd=Passw0rd,acHostAndPort=ivia-mmfa-runtime:9443,websealHostNameAndPort=mmfa.myidp.ibm.com:443,acUuidCookieName=ac.uuid
RECAPTCHA_SECRET_KEY=TODO
RECAPTCHA_SITE_KEY=TODO
PUSH_PROVIDER_HOST=TODO
ANDROID_APP_ID=TODO
ANDROID_CLIENT_ID=TODO
ANDROID_CLIENT_SECRET=TODO
ANDROID_REFRESH_TOKEN=TODO
ANDROID_APP_KEY=TODO
APPLE_APP_ID=TODO
APPLE_CLIENT_ID=TODO
APPLE_CLIENT_SECRET=TODO
APPLE_REFRESH_TOKEN=TODO
APPLE_APP_KEY=TODO
