MMFAP12_SECRET=Passw0rd
HVDB_HOST=postgresql
HVDB_PORT=5432
HVDB_USER=postgres
HVDB_PW=Passw0rd
HVDB_DB=isva
LDAP_HOST=openldap
LDAP_PORT=636
IVIA_BASE_CODE=<code goes here>
IVIA_AAC_CODE=<code goes here>
IVIA_FED_CODE=<code goes here>
LDAP_BIND_DN=cn=root,secAuthority=Default
LDAP_BIND_PW=Passw0rd
LDAP_SEC_PW=Passw0rd
TEST_PASSWORD=Passw0rd
RUNTIME_USER=easuser
RUNTIME_PASSWORD=Passw0rd
IVIA_CONFIG_BASE=/verify_access_config
IVIA_MGMT_PASSWORD=admin
IVIA_CONFIGURATOR_LOG_LEVEL=ALL
IVIA_KUBERNETES_RESTART_SLEEP=60
LIVE_DEMO_CONFIG="lmiHostAndPort=https://isva-mmfa-config:9443,lmiAdminId=admin,lmiAdminPwd=admin,acHostAndPort=https://isva-mmfa-runtime:9443,websealHostNameAndPort=https://www.myidp.ibm.com,acUuidCookieName=ac.uuid"
